@media screen and (max-width: 760px) {
  .nav-logo a {
    justify-content: center;
  }
  .weddingRings {
    width: 40%;
  }
  .event-content ul {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .event-content li {
    width: 50%;
    left: 0;
    text-align: left;
    padding-left: 2rem;
  }

  .event-content li:nth-child(odd) {
    left: -4.5%;
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  .event-content li:nth-child(even) {
    left: 55.5%;
    text-align: left;
  }

  .icon {
    width: 25%;
  }
}

@media screen and (max-width: 550px) {
  .weddingRings {
    width: 50%;
  }
  .event-content li:nth-child(odd) {
    left: -9.5%;
    text-align: right;
  }

  .bouquet {
    bottom: 40%;
    width: 60%;
  }

  .cake {
    width: 55%;
    position: absolute;
    left: 10%;
    top: 80%;
  }
}

@media screen and (max-width: 450px) {
  .event-content ul {
    width: 100%;
  }

  .event-content li:nth-child(even) {
    left: 50%;
    text-align: left;
    padding: 1rem 0 1rem 2rem;
  }

  .event-content li:nth-child(odd) {
    text-align: right;
    padding: 1rem 2rem 1rem 0;
  }

  .event-content li p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 428px) {
  .event-content li:nth-child(odd) {
    left: -8.5%;
  }
}

@media screen and (max-width: 414px) {
  .event-content li:nth-child(odd) {
    left: -9%;
  }
}

@media screen and (max-width: 390px) {
  .event-content li:nth-child(odd) {
    left: -9.5%;
  }
}

@media screen and (max-width: 384px) {
  .event-content li:nth-child(odd) {
    left: -10%;
  }
}

@media screen and (max-width: 360px) {
  .event-content ul {
    width: 100%;
  }

  .event-content li:nth-child(even) {
    left: 50%;
    text-align: left;
    padding: 1rem 0 1rem 2rem;
  }

  .event-content li:nth-child(odd) {
    left: -10.5%;
    text-align: right;
    padding: 1rem 2rem 1rem 0;
  }

  .event-content li p {
    font-size: 1rem;
  }
}
