.travel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.travel-map {
  border: 1px black solid;
  border-radius: 10px;
  margin: 1rem;
}
