@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Ovo&family=Parisienne&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

h1 {
  font-family: 'Cormorant Garamond';
  text-transform: uppercase;
  font-weight: 300;
}

h2 {
  font-family: 'Parisienne';
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-family: 'Cormorant Garamond';
  font-size: 2.2rem;
  font-weight: 400;
}

a {
  font-family: 'Ovo';
}

p {
  font-family: 'Ovo';
  font-size: 1.2rem;
  margin: 0px;
}
